target/
logs/
venv/
output/
API_Specifications/
.idea/
.gradle/
Fuzz/
Compile/
restler_bin/
out/
.hypothesis/
kittylogs/
services/jdk8/erc20-rest-service/bin/
RestlerLogs/
.vscode/
.DS_Store/
restler/
rest-gitlab/

.ethereum
cp.txt
*.log
log_*
evomaster-benchmark-cs-rest-artificial-news.iml
evomaster.jar
RestTestGen.jar
workloadResultsFile.xlsx
faultloadResultsFile.xlsx
resolved.json
org.jacoco.*
jacoco_*
*LOG_PATH*
test.sh
run.sh
