pip~=20.2.4
click~=7.1.2
flex~=6.14.1
requests~=2.24.0
six~=1.15.0
PyYAML~=5.3.1
jsonpointer~=2.0
rfc3987~=1.3.8
nltk~=3.5
numpy~=1.19.3
scipy~=1.5.4
sklearn~=0.0
scikit-learn~=0.23.2
tqdm~=4.51.0
regex~=2020.10.28
setuptools~=50.3.2
joblib~=0.17.0
prance~=0.19.0
certifi~=2020.6.20
chardet~=3.0.4
threadpoolctl~=2.1.0
urllib3~=1.25.11
idna~=2.10
editdistance~=0.5.3
graphviz~=0.14.2
pytz~=2020.4
rstr~=2.2.6
dpkt~=1.9.4
pydblite~=3.0.4
openapi-spec-validator==0.4
